# Database Cleaning Soccer Stats    

<br>
<br>
<center>
    <img src="https://static.dw.com/image/3816951_4.jpg" width="300" alt="soccer.logo"  />
</center>
<br>

<div style="text-align: right"> <b>By David Clavijo</b> </div>  


# About Database

In this notebook is edit the Database collected for forecasting the results of soccer matches (**Credits:https://www.football-data.co.uk/**).
The database consists of data of the five main leagues of world soccer by country **English Premier League (England), La Liga (Spain), Serie A (Italy), Bundesliga (Germany), and League 1 (France)**.
In the database, the data are recorded in a table for the season by each league. Example: EPL_2001, EPL, 2002, EPL_2003, etc.
The table is called using the following description:

*   EPL: English Premier League (England)
*   LALIGA: La Liga (Spain)
*   SA: Serie A (Italy)
*   BUNDESLIGA: Bundesliga (Germany)
*   L1: League 1 (France)

After each code by the league is used, the next character is "underscore",  and then continue the year of begin of the season like 2001, 2010, 2020, etc.

## Headers code
the next code shows the abbreviations to headers of the tables:

**Basic information matches soccer**  
Div = League Division  
Date = Match Date (dd/mm/yy)  
Time = Time of match kick off  
HomeTeam = Home Team  
AwayTeam = Away Team  
FTHG and HG = Full Time Home Team Goals  
FTAG and AG = Full Time Away Team Goals  
FTR and Res = Full Time Result (H=Home Win, D=Draw, A=Away Win)    
HTHG = Half Time Home Team Goals  
HTAG = Half Time Away Team Goals  
HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)  
Attendance = Crowd Attendance  
Referee = Match Referee  
  
**Match Stats**  
HS = Home Team Shots  
AS = Away Team Shots  
HST = Home Team Shots on Target  
AST = Away Team Shots on Target  
HHW = Home Team Hit Woodwork  
AHW = Away Team Hit Woodwork  
HC = Home Team Corners  
AC = Away Team Corners  
HF = Home Team Fouls Committed  
AF = Away Team Fouls Committed  
HFKC = Home Team Free Kicks Conceded  
AFKC = Away Team Free Kicks Conceded  
HO = Home Team Offsides  
AO = Away Team Offsides  
HY = Home Team Yellow Cards  
AY = Away Team Yellow Cards  
HR = Home Team Red Cards  
AR = Away Team Red Cards  
HBP = Home Team Bookings Points (10 = yellow, 25 = red)  
ABP = Away Team Bookings Points (10 = yellow, 25 = red)  
  
Note that Free Kicks Conceeded includes fouls, offsides and any other offense commmitted and will always be equal to or higher than the number of fouls. Fouls make up the vast majority of Free Kicks Conceded. Free Kicks Conceded are shown when specific data on Fouls are not available (France 2nd, Belgium 1st and Greece 1st divisions).  
  
Note also that English and Scottish yellow cards do not include the initial yellow card when a second is shown to a player converting it into a red, but this is included as a yellow (plus red) for European games.  
  
  
**Key to 1X2 (match) betting odds data:**  
  
B365H = Bet365 home win odds  
B365D = Bet365 draw odds  
B365A = Bet365 away win odds  
BSH = Blue Square home win odds  
BSD = Blue Square draw odds  
BSA = Blue Square away win odds  
BWH = Bet&Win home win odds  
BWD = Bet&Win draw odds  
BWA = Bet&Win away win odds  
GBH = Gamebookers home win odds  
GBD = Gamebookers draw odds  
GBA = Gamebookers away win odds  
IWH = Interwetten home win odds  
IWD = Interwetten draw odds  
IWA = Interwetten away win odds  
LBH = Ladbrokes home win odds  
LBD = Ladbrokes draw odds  
LBA = Ladbrokes away win odds  
PSH and PH = Pinnacle home win odds  
PSD and PD = Pinnacle draw odds  
PSA and PA = Pinnacle away win odds  
SOH = Sporting Odds home win odds  
SOD = Sporting Odds draw odds  
SOA = Sporting Odds away win odds  
SBH = Sportingbet home win odds  
SBD = Sportingbet draw odds  
SBA = Sportingbet away win odds  
SJH = Stan James home win odds  
SJD = Stan James draw odds  
SJA = Stan James away win odds  
SYH = Stanleybet home win odds  
SYD = Stanleybet draw odds  
SYA = Stanleybet away win odds  
VCH = VC Bet home win odds  
VCD = VC Bet draw odds  
VCA = VC Bet away win odds  
WHH = William Hill home win odds  
WHD = William Hill draw odds  
WHA = William Hill away win odds  
  
Bb1X2 = Number of BetBrain bookmakers used to calculate match odds averages and maximums  
BbMxH = Betbrain maximum home win odds  
BbAvH = Betbrain average home win odds  
BbMxD = Betbrain maximum draw odds  
BbAvD = Betbrain average draw win odds  
BbMxA = Betbrain maximum away win odds  
BbAvA = Betbrain average away win odds  
  
MaxH = Market maximum home win odds  
MaxD = Market maximum draw win odds  
MaxA = Market maximum away win odds  
AvgH = Market average home win odds  
AvgD = Market average draw win odds  
AvgA = Market average away win odds  
  
  

**Key to total goals betting odds:**  
  
BbOU = Number of BetBrain bookmakers used to calculate over/under 2.5 goals (total goals) averages and maximums  
BbMx>2.5 = Betbrain maximum over 2.5 goals  
BbAv>2.5 = Betbrain average over 2.5 goals  
BbMx<2.5 = Betbrain maximum under 2.5 goals  
BbAv<2.5 = Betbrain average under 2.5 goals  
  
GB>2.5 = Gamebookers over 2.5 goals  
GB<2.5 = Gamebookers under 2.5 goals  
B365>2.5 = Bet365 over 2.5 goals  
B365<2.5 = Bet365 under 2.5 goals  
P>2.5 = Pinnacle over 2.5 goals  
P<2.5 = Pinnacle under 2.5 goals  
Max>2.5 = Market maximum over 2.5 goals  
Max<2.5 = Market maximum under 2.5 goals  
Avg>2.5 = Market average over 2.5 goals  
Avg<2.5 = Market average under 2.5 goals  
  


**Key to Asian handicap betting odds:**  
  
BbAH = Number of BetBrain bookmakers used to Asian handicap averages and maximums  
BbAHh = Betbrain size of handicap (home team)  
AHh = Market size of handicap (home team) (since 2019/2020)  
BbMxAHH = Betbrain maximum Asian handicap home team odds  
BbAvAHH = Betbrain average Asian handicap home team odds  
BbMxAHA = Betbrain maximum Asian handicap away team odds  
BbAvAHA = Betbrain average Asian handicap away team odds  
  
GBAHH = Gamebookers Asian handicap home team odds  
GBAHA = Gamebookers Asian handicap away team odds  
GBAH = Gamebookers size of handicap (home team)  
LBAHH = Ladbrokes Asian handicap home team odds  
LBAHA = Ladbrokes Asian handicap away team odds  
LBAH = Ladbrokes size of handicap (home team)  
B365AHH = Bet365 Asian handicap home team odds  
B365AHA = Bet365 Asian handicap away team odds  
B365AH = Bet365 size of handicap (home team)  
PAHH = Pinnacle Asian handicap home team odds  
PAHA = Pinnacle Asian handicap away team odds  
MaxAHH = Market maximum Asian handicap home team odds  
MaxAHA = Market maximum Asian handicap away team odds  	
AvgAHH = Market average Asian handicap home team odds  
AvgAHA = Market average Asian handicap away team odds  
  


**Closing odds (last odds before match starts)**  

As above but with an additional "C" character following the bookmaker abbreviation/Max/Avg  

Football-Data would like to acknowledge the following sources which have been utilised in the compilation of Football-Data's results and odds files.  


Current results (full time, half time)  
XScores - http://www.xscores .com  

Match statistics
BBC, ESPN Soccer, Bundesliga.de, Gazzetta.it and Football.fr  

Bookmakers betting odds  
Individual bookmakers  

Betting odds for weekend games are collected Friday afternoons, and on Tuesday afternoons for midweek games.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png) 

## Editing Date...  

In the Database, there are many data in which the format of the date of the match isn't the same. The date of the matches has the format DD / MM / YY, but the year to a lot of records is like **12/02/09**, instead of **12/02/2009**, the year must be of four digits. This issue will be solved in this section.

### Connect to Data base.

To edit the data and change the year in each table, I'll use conecction SQL API:

In [3]:
#!pip install sqlalchemy==1.3.9 #install libraries if you don't have them.
#!pip install ibm_db_sa
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 2.6 MB/s  eta 0:00:01
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (1.3.23)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.9)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.9.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13700 sha256=70383168e3b3ac7df06b3e25b22067b8dee5678151d37231862aa0105877519f
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/48/6d/77/9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1

In [19]:
import ibm_db
import ibm_db_dbi
from sqlalchemy import create_engine

In [20]:
#SQL Alchemy URL

sqla_url= "db2+ibm_db://vlw69202:Cv5rvXtfXu6cp2u7@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=SSL"
#Pandas does not support many databases so we use recommended
engine = create_engine(sqla_url)
conn = engine.connect()

DB2/LINUXX8664

### Retrieve data into Pandas
In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [21]:
import pandas as pd

#### Create list with names of leagues

**EPL**  2001 to 2020  
**Bundesliga**  2003 to 2020  
**La Liga** 2000 to 2020  
**Serie A** 2002 to 2020  
**Ligue 1** 2015 to 2020

In [38]:
#list of years
years=[str(2000+i) for i in range(21)] #2000 to 2020

#list of leagues by each year
epl=["epl_"+i for i in years]
bundesliga=["bundesliga_"+i for i in years]
laliga=["laliga_"+i for i in years]
seriea=["sa_"+i for i in years]
ligue1=["l1_"+i for i in years]
tables=epl[1:]+bundesliga[3:]+laliga+seriea[2:]+ligue1[-6:]

In [39]:
print(tables)

['l1_2015', 'l1_2016', 'l1_2017', 'l1_2018', 'l1_2019', 'l1_2020']

the next code edits the tables of the database using pandas and updating them.

In [40]:
from sqlalchemy.types import VARCHAR, DATE
for table in tables:
    #query statement to retrieve all rows in INSTRUCTOR table
    selectQuery = "select * from "+table
    #retrieve the query results into a pandas dataframe
    pdf = pd.read_sql(sql=selectQuery, con=engine)
    #editing DATE
    rows=[str(i)[:6]+"20"+str(i)[6:8] for i in pdf["DATE"] if len(str(i))<9]
    if len(rows)>20:
        pdf.DATE=rows
        #Write to database
        pdf.to_sql(table, con=engine, if_exists='replace',dtype={"div":VARCHAR(3),"DATE":VARCHAR(11),"hometeam":VARCHAR(20),"awayteam":VARCHAR(20),"referee":VARCHAR(20),"ftr":VARCHAR(1),"htr":VARCHAR(1)})
        print("sucessfully : ",table)
    else:
        continue

sucessfully :  l1_2015
sucessfully :  l1_2016

**The format of the column DATE is updated for all tables of the database**

## Note:

The connection used was through SQL Alchemy to edit the database with pandas. To connect to the database and execute queries since python in Db2 is possible to establish the connection using the library ibm_db or command %sql called sql magic:

## **Connection using library ibm_db:**

When the command above completes, the `ibm_db` library is loaded in your notebook.

### Identify the database connection credentials

Connecting to dashDB or DB2 database requires the following information:

*   Driver Name
*   Database name
*   Host DNS name or IP address
*   Host port
*   Connection protocol
*   User ID
*   User Password

Now enter your database credentials below

Replace the placeholder values in angular brackets <> below with your actual database credentials

e.g. replace "database" with "BLUDB"

In [17]:
#Replace the placeholder values with the actuals for your Db2 Service Credentials
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            # e.g. "BLUDB"
dsn_hostname = "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"     # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_port = "32733"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "vlw69202"              # e.g. "abc12345"
dsn_pwd = ""                      # e.g. "7dBZ3wWt9XN6$o0J"
dsn_security = "SSL"              #i.e. "SSL"

In [18]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  vlw69202 on host:  54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

## **Connection using %sql magic:**

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql ibm_db_sa://vlw69202:Cv5rvXtfXu6cp2u7@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=SSL

DB2/LINUXX8664

### Team Names

The next query finds out the team names unique by each league. In this case English Premier League. It's important to find out repeat names and then unify them.

In [5]:
%%sql

SELECT DISTINCT *
FROM(
SELECT HOMETEAM FROM EPL_2001
UNION ALL
SELECT HOMETEAM FROM EPL_2002 
UNION ALL
SELECT HOMETEAM FROM EPL_2003
UNION ALL
SELECT HOMETEAM FROM EPL_2004
UNION ALL
SELECT HOMETEAM FROM EPL_2005
UNION ALL
SELECT HOMETEAM FROM EPL_2006
UNION ALL
SELECT HOMETEAM FROM EPL_2007
UNION ALL
SELECT HOMETEAM FROM EPL_2008
UNION ALL
SELECT HOMETEAM FROM EPL_2009
UNION ALL
SELECT HOMETEAM FROM EPL_2010
UNION ALL
SELECT HOMETEAM FROM EPL_2011
UNION ALL
SELECT HOMETEAM FROM EPL_2012
UNION ALL
SELECT HOMETEAM FROM EPL_2013
UNION ALL
SELECT HOMETEAM FROM EPL_2014
UNION ALL
SELECT HOMETEAM FROM EPL_2015
UNION ALL
SELECT HOMETEAM FROM EPL_2016
UNION ALL
SELECT HOMETEAM FROM EPL_2017
UNION ALL
SELECT HOMETEAM FROM EPL_2018
UNION ALL
SELECT HOMETEAM FROM EPL_2019
UNION ALL
SELECT HOMETEAM FROM EPL_2020
)
ORDER BY HOMETEAM ASC;

 * ibm_db_sa://vlw69202:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Arsenal',),
 ('Aston Villa',),
 ('Birmingham',),
 ('Blackburn',),
 ('Blackpool',),
 ('Bolton',),
 ('Bournemouth',),
 ('Brighton',),
 ('Burnley',),
 ('Cardiff',),
 ('Charlton',),
 ('Chelsea',),
 ('Crystal Palace',),
 ('Derby',),
 ('Everton',),
 ('Fulham',),
 ('Huddersfield',),
 ('Hull',),
 ('Ipswich',),
 ('Leeds',),
 ('Leicester',),
 ('Liverpool',),
 ('Man City',),
 ('Man United',),
 ('Middlesbrough',),
 ('Newcastle',),
 ('Norwich',),
 ('Portsmouth',),
 ('QPR',),
 ('Reading',),
 ('Sheffield United',),
 ('Southampton',),
 ('Stoke',),
 ('Sunderland',),
 ('Swansea',),
 ('Tottenham',),
 ('Watford',),
 ('West Brom',),
 ('West Ham',),
 ('Wigan',),
 ('Wolves',)]

We can see that some names seem to refer to the same team, and others can be badly written. To find out this it's important to know the official names of the teams in the league and explore the data.....  
After verifying the team names there aren't misspelling mistakes. **All teams in the Premier League are ok**.

for the **Bundesliga:**

In [8]:
%%sql

SELECT DISTINCT *
FROM(
SELECT HOMETEAM FROM BUNDESLIGA_2003
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2004 
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2005
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2006
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2007
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2008
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2009
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2010
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2011
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2012
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2013
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2014
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2015
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2016
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2017
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2018
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2019
UNION ALL
SELECT HOMETEAM FROM BUNDESLIGA_2020
)
ORDER BY HOMETEAM ASC;

 * ibm_db_sa://vlw69202:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Aachen',),
 ('Augsburg',),
 ('Bayern Munich',),
 ('Bielefeld',),
 ('Bochum',),
 ('Braunschweig',),
 ('Cottbus',),
 ('Darmstadt',),
 ('Dortmund',),
 ('Duisburg',),
 ('Ein Frankfurt',),
 ('FC Koln',),
 ('Fortuna Dusseldorf',),
 ('Freiburg',),
 ('Greuther Furth',),
 ('Hamburg',),
 ('Hannover',),
 ('Hansa Rostock',),
 ('Hertha',),
 ('Hoffenheim',),
 ('Ingolstadt',),
 ('Kaiserslautern',),
 ('Karlsruhe',),
 ('Leverkusen',),
 ("M'gladbach",),
 ('Mainz',),
 ('Munich 1860',),
 ('Nurnberg',),
 ('Paderborn',),
 ('RB Leipzig',),
 ('Schalke 04',),
 ('St Pauli',),
 ('Stuttgart',),
 ('Union Berlin',),
 ('Werder Bremen',),
 ('Wolfsburg',)]

**All teams in the Bundesliga are ok.**

for the **La Liga:**

In [9]:
%%sql

SELECT DISTINCT *
FROM(
SELECT HOMETEAM FROM LALIGA_2000
UNION ALL
SELECT HOMETEAM FROM LALIGA_2001
UNION ALL
SELECT HOMETEAM FROM LALIGA_2002
UNION ALL
SELECT HOMETEAM FROM LALIGA_2003
UNION ALL
SELECT HOMETEAM FROM LALIGA_2004
UNION ALL
SELECT HOMETEAM FROM LALIGA_2005
UNION ALL
SELECT HOMETEAM FROM LALIGA_2006
UNION ALL
SELECT HOMETEAM FROM LALIGA_2007
UNION ALL
SELECT HOMETEAM FROM LALIGA_2008
UNION ALL
SELECT HOMETEAM FROM LALIGA_2009
UNION ALL
SELECT HOMETEAM FROM LALIGA_2010
UNION ALL
SELECT HOMETEAM FROM LALIGA_2011
UNION ALL
SELECT HOMETEAM FROM LALIGA_2012
UNION ALL
SELECT HOMETEAM FROM LALIGA_2013
UNION ALL
SELECT HOMETEAM FROM LALIGA_2014
UNION ALL
SELECT HOMETEAM FROM LALIGA_2015
UNION ALL
SELECT HOMETEAM FROM LALIGA_2016
UNION ALL
SELECT HOMETEAM FROM LALIGA_2017
UNION ALL
SELECT HOMETEAM FROM LALIGA_2018
UNION ALL
SELECT HOMETEAM FROM LALIGA_2019
UNION ALL
SELECT HOMETEAM FROM LALIGA_2020
)
ORDER BY HOMETEAM ASC;

 * ibm_db_sa://vlw69202:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Alaves',),
 ('Albacete',),
 ('Almeria',),
 ('Ath Bilbao',),
 ('Ath Madrid',),
 ('Barcelona',),
 ('Betis',),
 ('Cadiz',),
 ('Celta',),
 ('Cordoba',),
 ('Eibar',),
 ('Elche',),
 ('Espanol',),
 ('Getafe',),
 ('Gimnastic',),
 ('Girona',),
 ('Granada',),
 ('Hercules',),
 ('Huesca',),
 ('La Coruna',),
 ('Las Palmas',),
 ('Leganes',),
 ('Levante',),
 ('Malaga',),
 ('Mallorca',),
 ('Murcia',),
 ('Numancia',),
 ('Osasuna',),
 ('Oviedo',),
 ('Real Madrid',),
 ('Recreativo',),
 ('Santander',),
 ('Sevilla',),
 ('Sociedad',),
 ('Sp Gijon',),
 ('Tenerife',),
 ('Valencia',),
 ('Valladolid',),
 ('Vallecano',),
 ('Villarreal',),
 ('Xerez',),
 ('Zaragoza',)]

**All teams in the La Liga are ok**

for the **Serie A:**

In [10]:
%%sql

SELECT DISTINCT *
FROM(
SELECT HOMETEAM FROM SA_2002
UNION ALL
SELECT HOMETEAM FROM SA_2003
UNION ALL
SELECT HOMETEAM FROM SA_2004
UNION ALL
SELECT HOMETEAM FROM SA_2005
UNION ALL
SELECT HOMETEAM FROM SA_2006
UNION ALL
SELECT HOMETEAM FROM SA_2007
UNION ALL
SELECT HOMETEAM FROM SA_2008
UNION ALL
SELECT HOMETEAM FROM SA_2009
UNION ALL
SELECT HOMETEAM FROM SA_2010
UNION ALL
SELECT HOMETEAM FROM SA_2011
UNION ALL
SELECT HOMETEAM FROM SA_2012
UNION ALL
SELECT HOMETEAM FROM SA_2013
UNION ALL
SELECT HOMETEAM FROM SA_2014
UNION ALL
SELECT HOMETEAM FROM SA_2015
UNION ALL
SELECT HOMETEAM FROM SA_2016
UNION ALL
SELECT HOMETEAM FROM SA_2017
UNION ALL
SELECT HOMETEAM FROM SA_2018
UNION ALL
SELECT HOMETEAM FROM SA_2019
UNION ALL
SELECT HOMETEAM FROM SA_2020
)
ORDER BY HOMETEAM ASC;

 * ibm_db_sa://vlw69202:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Ancona',),
 ('Ascoli',),
 ('Atalanta',),
 ('Bari',),
 ('Benevento',),
 ('Bologna',),
 ('Brescia',),
 ('Cagliari',),
 ('Carpi',),
 ('Catania',),
 ('Cesena',),
 ('Chievo',),
 ('Como',),
 ('Crotone',),
 ('Empoli',),
 ('Fiorentina',),
 ('Frosinone',),
 ('Genoa',),
 ('Inter',),
 ('Juventus',),
 ('Lazio',),
 ('Lecce',),
 ('Livorno',),
 ('Messina',),
 ('Milan',),
 ('Modena',),
 ('Napoli',),
 ('Novara',),
 ('Palermo',),
 ('Parma',),
 ('Perugia',),
 ('Pescara',),
 ('Piacenza',),
 ('Reggina',),
 ('Roma',),
 ('Sampdoria',),
 ('Sassuolo',),
 ('Siena',),
 ('Spal',),
 ('Spezia',),
 ('Torino',),
 ('Treviso',),
 ('Udinese',),
 ('Verona',)]

**All teams in the Serie A are ok**

for the **Ligue 1**:

In [11]:
%%sql

SELECT DISTINCT *
FROM(
SELECT HOMETEAM FROM L1_2015
UNION ALL
SELECT HOMETEAM FROM L1_2016
UNION ALL
SELECT HOMETEAM FROM L1_2017
UNION ALL
SELECT HOMETEAM FROM L1_2018
UNION ALL
SELECT HOMETEAM FROM L1_2019
UNION ALL
SELECT HOMETEAM FROM L1_2020
)
ORDER BY HOMETEAM ASC;

 * ibm_db_sa://vlw69202:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Ajaccio GFCO',),
 ('Amiens',),
 ('Angers',),
 ('Bastia',),
 ('Bordeaux',),
 ('Brest',),
 ('Caen',),
 ('Dijon',),
 ('Guingamp',),
 ('Lens',),
 ('Lille',),
 ('Lorient',),
 ('Lyon',),
 ('Marseille',),
 ('Metz',),
 ('Monaco',),
 ('Montpellier',),
 ('Nancy',),
 ('Nantes',),
 ('Nice',),
 ('Nimes',),
 ('Paris SG',),
 ('Reims',),
 ('Rennes',),
 ('St Etienne',),
 ('Strasbourg',),
 ('Toulouse',),
 ('Troyes',)]

**All teams in the league 1 are ok**